.visualization {
    width: 100%;
    height: 100%;
    position: relative;
}

.particle {
    border-radius: 50%;
    position: absolute;
    animation: move 5s linear infinite;
}

@keyframes move {
    0% { transform: translate(0, 0); }
    100% { transform: translate(100px, 100px); }
}